* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 14px;
}

img {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 25px 25px 25px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 0.73rem;
  background-color: hsl(217, 28%, 15%);
}

nav > ul {
  display: flex;
  justify-content: space-between;
  width: 175px;
}

nav > img {
  height: 24px;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.intro {
  background-color: hsl(217, 28%, 15%);
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: auto;
}

.intro-content p {
  max-width: 580px;
}

.intro-content h2 {
  padding: 20px 0px;
}

.intro-content a {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  margin: 30px;
  border-radius: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1050px;
  margin-top: 50px;
  margin: auto;
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 285px;
  width: 355px;
  padding: 15px 35px;
}

.info-group img {
  height: 65px;
  width: auto;
  margin: 20px;
}

.info-group h3 {
  font-size: 1.1rem;
  padding: 10px;
}

.productive {
  display: flex;
  flex-wrap: wrap;
  padding: 90px 25px 0px 30px;
  text-align: left;
  justify-content: center;
}

.productive > img {
  max-width: 615px;
}

.productive-content {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productive h2 {
  font-size: 1.1rem;
  padding: 30px 0px 20px;
}

.productive p {
  padding-bottom: 20px;
}

.productive a {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 0.7rem;
  text-decoration: none;
  color: hsl(176, 68%, 64%);
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding-bottom: 4px;
}

.productive a img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.testimonials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  margin: auto;
  background-image: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-position: top 140px left 45px;
  background-size: 25px;
}

.testimonials .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  background-color: hsl(219, 30%, 18%);
  text-align: left;
  padding: 30px 30px 20px 20px;
  margin: 10px;
  border-radius: 5px;
}

.testimonials p {
  font-size: 0.65rem;
  line-height: 1.75;
}

.testimonials .card-footer {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.testimonials .card-footer img {
  height: 23px;
  width: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonials .name {
  font-weight: 700;
}

.testimonials .title {
  font-size: 0.5rem;
}

@media (min-width: 1024px) {

  .testimonials {
    background-position: top 137px left 12px;
    background-size: 50px;
  }

  .testimonials .card {
    width: 350px;
    height: 200px;
    margin: 20px;
    padding: 40px 25px 25px;
  }

  .card > p {
    font-size: 14px;
    line-height: 1.5;
  }

}

.form-container {
  padding: 150px 20px 0px 20px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(217, 28%, 15%);
  height: 350px;
  border-radius: 10px;
  padding: 40px 30px 35px;
  box-shadow: 3px 3px 8px rgb(18, 18, 18);
  position: relative;
  max-width: 860px;
  margin: auto;
}

form button,
form input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 30px;
  text-decoration: none;
  border: none;
}

.form-submit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

form button {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  color: hsl(0, 0%, 100%);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  max-width: 270px;
}

form input {
  padding-left: 30px;
  max-width: 480px;
}

form::after {
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 50%;
  width: 100vw;
  content: "";
  background-color: hsl(216, 53%, 9%);
}

footer {
  background-color: hsl(216, 53%, 9%);
  padding: 65px 25px 30px 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer .logo {
  width: 180px;
  height: auto;
  margin-bottom: 30px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.contact-group {
  display: flex;
  padding: 10px 0px;
  width: 300px;
}

.contact-group.location p {
  font-size: 1rem;
  width: 100%;
}

.contact-icon {
  width: 35px;
}

.contact-icon img {
  height: 15px;
  width: auto;
}

footer ul {
  margin-bottom: 30px;
  width: 300px;
}

footer li {
  margin-bottom: 20px;
}

footer li a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.social {
  display: flex;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  height: 27px;
  width: 27px;
  margin: 5px;
  font-size: 14px;
  padding-top: 1px;
  padding-left: 1px;
}

.attribution {
  font-size: 0.5rem;
  width: 100%;
  text-align: center;
}

.attribution a {
  color: hsl(0, 0%, 100%);
}

@media (min-width: 1024px) {
  nav {
    height: 200px;
    padding: 80px 70px;
    font-size: 14px;
  }
  nav > ul {
    width: 275px;
  }

  nav > img {
    height: 50px;
    width: auto;
  }

  h2,
  .productive h2 {
    font-size: 40px;
  }

  .intro {
    background-image: url("../images/bg-curvy-desktop.svg");
  }


  .intro-content h2 {
    padding: 50px 0px 45px;
  }

  .intro p {
    font-size: 19px;
    padding-bottom: 5px;
  }

  .intro a {
    width: 280px;
  }

  .info-group {
    width: 490px;
    padding: 75px;
  }

  .productive h2 {
    font-size: 40px;
    max-width: 375px;
  }

  .productive p,
  .productive a {
    font-size: 16px;
  }

  .productive-content {
    margin-left: 60px;
  }



  form {
    height: 275px;
    padding: 35px 75px;
  }

  form h3 {
    font-size: 30px;
  }

  form p {
    max-width: 620px;
  }

  input {
    max-width: 480px;
  }

  form button {
    width: 200px;
  }

  footer {
    height: 400px;
    padding: 80px 80px 80px 120px
  }

  footer ul {
    width: 150px;
  }

  .social {
    margin: 0;
  }

  .contact-group.location {
    width: 460px;
    padding-right: 100px;
  }

}
