* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

p {
  font-size: 14px;
}

img {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: hsl(217, 28%, 15%);
  font-family: 'Raleway', sans-serif;
  padding: 25px 25px 20px 20px;
  font-size: 0.73rem;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  width: 45vw;
}

nav > img {
  height: 24px;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.intro {
  background-color: hsl(217, 28%, 15%);
  padding: 30px;
  position: relative;
}

.intro-content {
  position: relative;
  z-index: 10;
}

.intro-background {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
}

.intro-background > img {
  display: block;
}

.intro-background::after {
  width: 100vw;
  background-color: hsl(218, 28%, 13%);
  height: 150px;
  content: '';
  display: block;
}

h2 {
  font-size: 1.5rem;
}

.intro-content h2 {
  padding: 20px 0px;
}

.intro-content a {
  background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 30px;
  border-radius: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 285px;
  width: 320px;
}

.info-group img {
  height: 65px;
  width: auto;
  margin: 20px;
}

.info-group h3 {
  font-size: 1.1rem;
  padding: 10px;
}

.productive {
  padding: 90px 25px 30px 30px;
  text-align: left;
}

.productive h2 {
  font-size: 1.1rem;
  padding: 30px 0px 20px;
}

.productive p {
  padding-bottom: 20px;
}

.productive a {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 0.7rem;
  text-decoration: none;
  color: hsl(176, 68%, 64%);
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding-bottom: 4px;
}

.productive a img {
  width: 20px;
  padding-left: 5px;
}
